<header class="site-header">
  <a class="brand" href="#home">{{ 'brand.headerGallery' | translate }}</a>

  <nav [attr.aria-label]="'nav.mainAria' | translate">
    <a href="#artworks">{{ 'nav.artworks' | translate }}</a>
    <a href="#about">{{ 'nav.aboutAna' | translate }}</a>
    <a
      href="https://www.kisa.ge/donate/z0tgqfid24"
      target="_blank"
      rel="noopener noreferrer"
    >{{ 'nav.donate' | translate }}</a>
    <a href="#contact">{{ 'nav.contact' | translate }}</a>
  </nav>
</header>
